{% extends "base.html" %}

{% block pagetitle %}Reset Password - ginnibeam.net{% endblock pagetitle %}

{% block content %}

{% if validlink %}
<h2 class="title">Enter New Password</h2>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form action="" method="post">
{{ form.new_password1.errors }}
<p><label for="id_new_password1">New password:</label>{{ form.new_password1 }}</p>
<p><label for="id_new_password2">Confirm password:</label>{{ form.new_password2 }}</p>
<p><label>&nbsp;</label> <input type="submit" value="Change my password" /></p>
</form>
{% else %}
<h2 class="title">Password reset unsuccessful</h2>

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
{% endif %}
{% endblock %}

{% block jquery %}{% endblock jquery %}